
# NOTE: This will be exposed in the app build
EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_SOCKET_URL=

EXPO_PUBLIC_ONE_SIGNAL_APP_ID=
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=

EXPO_PUBLIC_ZIM_APP_ID=
EXPO_PUBLIC_ZIM_APP_SIGN=