# JWT

JWT_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1h
JWT_REFRESH_TOKEN_EXPIRES_IN=30d
JWT_ISSUER=issuer

# Cometchat
COMETCHAT_API_URL=
COMETCHAT_API_KEY=

# DO space
SPACES_ACCESS_KEY_ID=
SPACES_SECRET_ACCESS_KEY=
SPACES_BUCKET_NAME=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=

# Sendgrid
SENDGRID_API_KEY=

# Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

# Onesignal
ONESIGNAL_USER_AUTH_KEY=
ONESIGNAL_REST_API_KEY=YzU3MjI4ODItZGZlOC00ZWY1LWFkNjctYzcwY2JmNDlkMzUz
ONESIGNAL_APP_ID=d6759ef5-566c-48b8-97cf-5ce0f3c4bb21

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Database
DATABASE_URL=
DB_SSL_CERT=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# ZEGO
ZEGO_APP_ID=
ZEGO_SERVER_SECRET=

# SWAGGER
SWAGGER_USER=
SWAGGER_PASSWORD=
