@font-face {
  font-family: 'Hauora';
  src:
    url('./fonts/Hauora/Hauora-Regular.woff2') format('woff2'),
    url('./fonts/Hauora/Hauora-Regular.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hauora';
  src:
    url('./fonts/Hauora/Hauora-Medium.woff2') format('woff2'),
    url('./fonts/Hauora/Hauora-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hauora';
  src:
    url('./fonts/Hauora/Hauora-SemiBold.woff2') format('woff2'),
    url('./fonts/Hauora/Hauora-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hauora';
  src:
    url('./fonts/Hauora/Hauora-Bold.woff2') format('woff2'),
    url('./fonts/Hauora/Hauora-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CooperLtBT';
  src:
    url('./fonts/CooperLtBT-Regular/Cooper\ Lt\ BT\ W08\ Regular.woff2') format('woff2'),
    url('./fonts/CooperLtBT-Regular/Cooper\ Lt\ BT\ W08\ Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
